{% block header %}
    <!-- Présentation d'équilibr' & Minceur -->
        <h1 class="Titre">Bienvenue</h1>
            <div class="texte">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam possimus dolorum dolore commodi,
                voluptatem qui ea, similique soluta nostrum numquam non reprehenderit! Qui aut dolorem, quisquam ea
                nihil facere consequatur!</p>
            </div>
            <h2 class="Titre">Présentation</h2>
            <div class="texte">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam possimus dolorum dolore commodi,
                voluptatem qui ea, similique soluta nostrum numquam non reprehenderit! Qui aut dolorem, quisquam ea
                nihil facere consequatur!</p>
            </div>
            <h2 class="Titre">Nos coordonnées</h2>
            <div class="texte">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam possimus dolorum dolore commodi,
                voluptatem qui ea, similique soluta nostrum numquam non reprehenderit! Qui aut dolorem, quisquam ea
                nihil facere consequatur!</p>
            </div>
        </div>
    </div>
    <div class="section_1">
        <img class="section_1" src="https://cdn.apsari.com/102870/uploads/6b32d6e0-59d9-11e9-bacf-2301b7f3e310_800_420.png">
    </div>
{% endblock %}