{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_index') }}">Homepage<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wild/category/horror">Categorie Horreur</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wild/category/fantastique">Categorie fantastique</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wild/">Liste séries et films</a> 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ma séléction
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/wild/show/the-walking-dead">Walking Dead </a>
                    <a class="dropdown-item" href="/wild/show/the-haunting-of-hill-house">The Haunting Of Hill House </a>
                    <a class="dropdown-item" href="/wild/show/american-horror-story">American Horror Story  </a>
                    <a class="dropdown-item" href="/wild/show/love-death-and-robots">Love Death And Robots </a>
                    <a class="dropdown-item" href="/wild/show/penny-dreadful">Penny Dreadful </a>
                    <a class="dropdown-item" href="/wild/show/fear-the-walking-dead">Fear The Walking Dead </a>
                    <a class="dropdown-item" href="/wild/show/game-of-thrones">Games of thrones </a>
                    <a class="dropdown-item" href="/wild/show/lucifer">Lucifer </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">En cours de création</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Les saisons
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/wild/season/1">Games Of Thrones saison 1 </a>
                    <a class="dropdown-item" href="/wild/season/2">Games Of Thrones saison 2 </a>
                    <a class="dropdown-item" href="/wild/season/3">Lucifer saison 1</a>
                    <a class="dropdown-item" href="/wild/season/4">Lucifer saison 2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">En cours de création</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Les episodes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/wild/episode/1">Games Of Thrones saison 1 </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="#">En cours de création</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
{% endblock %}