{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ program.title }}</h1>
    <h2>
        Seasons list:
    </h2>
    <ul>
    {% for season in seasons %}
        <a href="{{ path('show_season', {'number': season.number }) }}">
        <li>{{ season.number }}</li>
    </a>
    {% else %}
        <li>Aucune saison pour cette serie</li>
    {% endfor %}
    </ul>
{% endblock %}