{% extends 'base.html.twig' %}

{% block show %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
    <body>
        <h1>{{ slug }}.</h1>
        <a href="{{ path('wild_show', {'slug':'ma-superbe-serie'}) }}">Voici la série Ma Superbe Série.</a>
        <br>
        <a href="{{ path('wild_show', {'slug':'house-of-cards'}) }}">Voici la série House of Cards.</a>
    </body>
</html>
{% endblock %}