@import "~bootstrap/scss/bootstrap";

body {
    background-image:url(../../image/fondecran.jpeg);
    color: white;
}

.section_1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}